<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BondhuShoba_Contact us</title>
  <link rel="stylesheet" href="contact_us_form.css">


</head>
<body>
  <div class="wrapper">
    <header>Send us a Message       &nbsp; &nbsp; &nbsp;   &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;   &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;   &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;   &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;
       <a href="../index.php">Back</a></header>
    
    <form action="#">
      <div class="dbl-field">
        <div class="field">
          <input type="text" name="name" placeholder="Enter your name">
       <!-- <i class='nme'><img src="img/name.png"width="20" height="20"></i> -->
        </div>
        <div class="field">
          <input type="text" name="email" placeholder="Enter your email">
          <i class='emle'></i>
        </div>
      </div>
      <div class="dbl-field">
        <div class="field">
          <input type="text" name="phone" placeholder="Enter your phone">
          <i class='phne'></i>
        </div>
        <div class="field">
          <input type="text" name="website" placeholder="Enter your website">
          <i class='webst'></i>
        </div>
      </div>
      <div class="message">
        <textarea placeholder="Write your message" name="message"></textarea>
        <i class="messg"></i>
      </div>
      <div class="button-area">
        <button type="submit">Send Message</button>
        <span></span>
      </div>

      <div class="link">Not yet signed up? <a href="../index.php">Signup now</a></div>
      <div class="link">Already signed up? <a href="../login.php">Login now</a></div>
      <div class="link">Go to <a href="../home.php">Home Page</a></div>
    </form>
  </div>

  <script src="../javascript/contact_us_form.js"></script>

</body>
</html>
